<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>web01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletSample</display-name>
    <servlet-name>ServletSample</servlet-name>
    <servlet-class>chap05.ServletSample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSample</servlet-name>
    <url-pattern>/sample</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ServletSample01</display-name>
    <servlet-name>ServletSample01</servlet-name>
    <servlet-class>chap06.ServletSample01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSample01</servlet-name>
    <url-pattern>/servletsample01</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ServletSample02</display-name>
    <servlet-name>ServletSample02</servlet-name>
    <servlet-class>chap06.ServletSample02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSample02</servlet-name>
    <url-pattern>/servletsample02</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ServletSample03</display-name>
    <servlet-name>ServletSample03</servlet-name>
    <servlet-class>chap06.ServletSample03</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSample03</servlet-name>
    <url-pattern>/servletsample03</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ServletSample04</display-name>
    <servlet-name>ServletSample04</servlet-name>
    <servlet-class>chap06.ServletSample04</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSample04</servlet-name>
    <url-pattern>/servletsample04</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>DATA01</param-name>
    <param-value>初期値１</param-value>
  </context-param>
  
  <servlet>
    <description></description>
    <display-name>ServletSample06</display-name>
    <servlet-name>ServletSample06</servlet-name>
    <servlet-class>chap07.ServletSample06</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSample06</servlet-name>
    <url-pattern>/servletsample06</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>FilterSample</display-name>
    <filter-name>FilterSample</filter-name>
    <filter-class>chap07.FilterSample</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FilterSample</filter-name>
    <url-pattern>/servletsample06</url-pattern>
  </filter-mapping>
  
  <servlet>
    <description></description>
    <display-name>SessionSample01</display-name>
    <servlet-name>SessionSample01</servlet-name>
    <servlet-class>chap09.SessionSample01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionSample01</servlet-name>
    <url-pattern>/sessionsample01</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  
  <servlet>
    <description></description>
    <display-name>SessionSample02</display-name>
    <servlet-name>SessionSample02</servlet-name>
    <servlet-class>chap09.SessionSample02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionSample02</servlet-name>
    <url-pattern>/sessionsample02</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ControllerSample1</display-name>
    <servlet-name>ControllerSample1</servlet-name>
    <servlet-class>chap15.ControllerSample1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerSample1</servlet-name>
    <url-pattern>/controllersample</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>DispatchSample</display-name>
    <servlet-name>DispatchSample</servlet-name>
    <servlet-class>chap15.DispatchSample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DispatchSample</servlet-name>
    <url-pattern>/dispatchsample</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>Controller</display-name>
    <servlet-name>Controller</servlet-name>
    <servlet-class>chap16.Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controller</servlet-name>
    <url-pattern>/controller</url-pattern>
  </servlet-mapping>
</web-app>